.contentContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  border: none;
  position: relative;
  z-index: 50;
}
.progressLoader {
  display: flex;
  position: fixed;
  left: 0;
  top:0;
  width: 0%;
  height: 6px;
  background-color: #ddba07;
  justify-content: start;
  align-items: start;
  transition: .3s linear;
}
.introSec {
  border: 1px solid;
  width: 100%;
  min-height: 600px;
  margin: 7px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
